@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.frame-child38 {
  position: relative;
  width: 25.21px;
  height: 25.2px;
  flex-shrink: 0;
}
.save9,
.stash9 {
  font-weight: 300;
  font-family: var(--font-poppins);
  color: var(--m3-sys-light-on-primary);
}
.stash9 {
  font-weight: 600;
  color: var(--purple-100);
}
.savestash9 {
  position: relative;
  font-size: var(--h1-24-size);
  letter-spacing: -0.01em;
  line-height: 150%;
  text-align: left;
  display: inline-block;
  width: 143px;
  flex-shrink: 0;
}
.group-parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  z-index: 2;
}
.iconshare8 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.edit8 {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
}
.vector-icon8 {
  position: absolute;
  height: 84.64%;
  width: 84.64%;
  top: 8.33%;
  right: 7.03%;
  bottom: 7.03%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.action8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider8 {
  position: relative;
  border-right: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  flex-shrink: 0;
}
.studentmailulie8 {
  position: relative;
  font-size: var(--h2-20-size);
  font-family: var(--font-graphik);
  color: var(--gray-1);
  text-align: left;
}
.account8 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account8,
.action-parent6,
.navbar8 {
  flex-direction: row;
  align-items: center;
}
.action-parent6 {
  width: 456px;
  flex-shrink: 0;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  z-index: 0;
}
.navbar8 {
  align-self: stretch;
  background-color: var(--color-gray-200);
  box-shadow: 0 2px 16px rgba(102, 102, 102, 0.12);
  display: flex;
  padding: var(--padding-xl) var(--padding-141xl);
  justify-content: flex-start;
  gap: var(--gap-381xl);
}
.expecting-the-unexpected8 {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  display: inline-block;
  color: var(--gray-6);
  width: 940px;
}
.visionetcom8 {
  color: var(--blue-1);
}
.expect-the-unexpected8,
.january-22-2015-container8 {
  position: relative;
  line-height: 120%;
  display: inline-block;
  width: 383.67px;
}
.expect-the-unexpected8 {
  width: 885px;
}
.frame-child39 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 8px;
  height: 180px;
  flex-shrink: 0;
}
.rectangle-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.the-consumer-electronics8 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 856px;
  flex-shrink: 0;
}
.frame-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--h2-20-size);
}
.e-ink17 {
  text-decoration: underline;
}
.e-ink16 {
  color: inherit;
}
.joan-that-features8 {
  color: var(--gray-5);
}
.but-the-interactive-conference8 {
  margin: 0;
}
.article-01-child3,
.article-015 {
  background-color: var(--color-gray-200);
}
.article-01-child3 {
  position: relative;
  width: 255px;
  height: 107px;
  flex-shrink: 0;
}
.article-015 {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0 var(--padding-141xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.format-text8,
.style8 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.style8 {
  letter-spacing: -0.01em;
  font-weight: 600;
}
.format-text8 {
  font-size: var(--body-16-size);
  color: var(--gray-3);
}
.share26 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iconclose9 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.share25 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h1-24-size);
}
.frame-child40,
.frame-child41,
.frame-child42,
.frame-child43 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 95px;
  height: 44px;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child40 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
}
.frame-child41,
.frame-child42,
.frame-child43 {
  background-color: var(--color-oldlace);
}
.frame-child42,
.frame-child43 {
  background-color: var(--color-darkslategray-100);
}
.frame-child43 {
  background-color: var(--color-gray-200);
  border: 3px solid var(--purple-100);
  box-sizing: border-box;
  width: 91px;
}
.rectangle-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.georgia8 {
  flex: 1;
  position: relative;
}
.font-018,
.font-28,
.font-38 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 412px;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  cursor: pointer;
}
.font-018 {
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.font-28,
.font-38 {
  margin-top: -1px;
}
.font-28 {
  background-color: var(--color-dodgerblue-100);
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  font-size: var(--h2-20-size);
  font-family: var(--font-calibri);
}
.font-38 {
  font-family: var(--font-tahoma);
}
.font-38,
.font-416,
.font-list8 {
  display: flex;
  justify-content: center;
}
.font-416 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 412px;
  height: 48px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  cursor: pointer;
  margin-top: -1px;
  font-family: var(--font-verdana);
}
.font-list8 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-black);
  font-family: var(--font-georgia);
}
.t16 {
  position: relative;
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
}
.font-417,
.font-58 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 201px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.font-58 {
  width: 212px;
  margin-left: -1px;
  font-size: var(--h1-24-size);
}
.font-format8,
.share-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.font-format8 {
  width: 412px;
  flex-direction: row;
  color: var(--gray-2);
  font-family: var(--font-graphik);
}
.share-parent6 {
  gap: var(--gap-13xl);
}
.share-inner7,
.share-parent6,
.share24 {
  align-self: stretch;
  flex-direction: column;
}
.share-inner7 {
  display: flex;
  padding: 0 var(--padding-5xl);
  align-items: flex-end;
  justify-content: flex-start;
}
.share24 {
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.15);
  width: 500px;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--padding-29xl) var(--padding-5xl) 0 var(--padding-base);
  box-sizing: border-box;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--h3-18-size);
  color: var(--gray-1);
  font-family: var(--body-16);
}
.share24.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.article-01-dark-8,
.article-01-parent3,
.share24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-01-parent3 {
  align-self: stretch;
  background-color: var(--color-oldlace);
  height: 1016px;
  flex-shrink: 0;
  flex-direction: row;
}
.article-01-dark-8 {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1080px;
  flex-direction: column;
  text-align: left;
  font-size: var(--h1-24-size);
  color: var(--gray-5);
  font-family: var(--font-calibri);
}
@media screen and (max-width: 1200px) {
  .article-01-dark-8 {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .article-01-dark-8 {
    display: none;
  }
}
