@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.frame-child97 {
  position: relative;
  width: 25.21px;
  height: 25.2px;
  flex-shrink: 0;
}
.save26,
.stash26 {
  font-weight: 300;
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.stash26 {
  font-weight: 600;
  color: var(--purple-100);
}
.savestash26 {
  position: relative;
  font-size: var(--h1-24-size);
  letter-spacing: -0.01em;
  line-height: 150%;
  text-align: left;
  display: inline-block;
  width: 143px;
  flex-shrink: 0;
}
.group-parent8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  cursor: pointer;
  z-index: 2;
}
.iconshare23 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.edit25 {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
}
.vector-icon28 {
  position: absolute;
  height: 84.64%;
  width: 84.64%;
  top: 8.33%;
  right: 7.03%;
  bottom: 7.03%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.action23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider23 {
  position: relative;
  border-right: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  flex-shrink: 0;
}
.studentmailulie24 {
  position: relative;
  font-size: var(--h2-20-size);
  font-family: var(--font-graphik);
  color: var(--gray-1);
  text-align: left;
}
.account24 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account24,
.action-parent21,
.navbar23 {
  flex-direction: row;
  align-items: center;
}
.action-parent21 {
  width: 456px;
  flex-shrink: 0;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  z-index: 0;
}
.navbar23 {
  align-self: stretch;
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: 0 2px 16px rgba(102, 102, 102, 0.12);
  display: flex;
  padding: var(--padding-xl) var(--padding-141xl);
  justify-content: flex-start;
  gap: var(--gap-381xl);
}
.expecting-the-unexpected25 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  color: var(--color-black);
}
.visionetcom27 {
  color: var(--blue-1);
}
.january-22-2015-container23 {
  color: var(--gray-3);
}
.expect-the-unexpected26,
.january-22-2015-container23 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.frame-child98 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 8px;
  height: 180px;
  flex-shrink: 0;
}
.rectangle-wrapper21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.the-consumer-electronics23 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 856px;
  flex-shrink: 0;
}
.frame-parent45 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--h2-20-size);
}
.e-ink47 {
  text-decoration: underline;
}
.e-ink46 {
  color: inherit;
}
.joan-that-features23 {
  color: var(--gray-1);
}
.but-the-interactive-conference23 {
  margin: 0;
}
.article-28 {
  flex: 1;
  height: 1005px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0 var(--padding-141xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.format-text14,
.style14 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.style14 {
  letter-spacing: -0.01em;
  font-weight: 600;
}
.format-text14 {
  font-size: var(--body-16-size);
  color: var(--gray-3);
}
.share58 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iconclose22 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.share57 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h1-24-size);
}
.frame-child100,
.frame-child101,
.frame-child102,
.frame-child99 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 95px;
  height: 44px;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child99 {
  border: 1px solid var(--blue-1);
  box-sizing: border-box;
}
.frame-child100,
.frame-child101,
.frame-child102 {
  background-color: var(--color-oldlace);
}
.frame-child101,
.frame-child102 {
  background-color: var(--color-darkslategray-100);
}
.frame-child102 {
  background-color: var(--color-gray-200);
  width: 91px;
}
.rectangle-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.georgia14 {
  flex: 1;
  position: relative;
}
.font-0114,
.font-214,
.font-314 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 412px;
  height: 48px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
}
.font-0114 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.font-214,
.font-314 {
  margin-top: -1px;
}
.font-214 {
  background-color: var(--color-dodgerblue-100);
  display: flex;
  justify-content: center;
  font-size: var(--h2-20-size);
  font-family: var(--font-calibri);
}
.font-314 {
  cursor: pointer;
  font-family: var(--font-tahoma);
}
.font-314,
.font-428,
.font-list14 {
  display: flex;
  justify-content: center;
}
.font-428 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 412px;
  height: 48px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  cursor: pointer;
  margin-top: -1px;
  font-family: var(--font-verdana);
}
.font-list14 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-black);
  font-family: var(--font-georgia);
}
.t28 {
  position: relative;
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
}
.font-429 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 201px;
  height: 48px;
  flex-shrink: 0;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.font-429,
.font-514,
.font-format14 {
  display: flex;
  flex-direction: row;
}
.font-514 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  font-size: var(--h1-24-size);
}
.font-format14 {
  width: 412px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-2);
  font-family: var(--font-graphik);
}
.share-inner13,
.share-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.share-parent16 {
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.share-inner13 {
  padding: 0 var(--padding-5xl);
  align-items: flex-end;
}
.share56 {
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.15);
  width: 500px;
  height: 1005px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-5xl) 0 var(--padding-base);
  box-sizing: border-box;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--h3-18-size);
  font-family: var(--body-16);
}
.share56.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.article-2-parent6,
.article-share-active2,
.share56 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-2-parent6 {
  align-self: stretch;
  height: 1005px;
  flex-shrink: 0;
  flex-direction: row;
}
.article-share-active2 {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1080px;
  flex-direction: column;
  text-align: left;
  font-size: var(--h1-24-size);
  color: var(--gray-1);
  font-family: var(--font-calibri);
}
@media screen and (max-width: 960px) {
  .article-share-active2 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .article-share-active2 {
    display: none;
  }
}
