@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo-2-inner {
  position: relative;
  width: 25.21px;
  height: 25.2px;
  flex-shrink: 0;
}
.save3,
.stash3 {
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.stash3 {
  font-weight: 600;
  color: var(--purple-100);
}
.savestash3 {
  position: relative;
  font-size: var(--h1-24-size);
  letter-spacing: -0.01em;
  line-height: 150%;
  text-align: left;
  display: inline-block;
  width: 143px;
  flex-shrink: 0;
}
.logo-22 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  cursor: pointer;
  z-index: 2;
}
.iconshare2 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.edit2 {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-26xl);
  z-index: 1;
}
.vector-icon2 {
  position: absolute;
  height: 84.64%;
  width: 84.64%;
  top: 8.33%;
  right: 7.03%;
  bottom: 7.03%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.action2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider2 {
  position: relative;
  border-right: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  flex-shrink: 0;
}
.studentmailulie2 {
  position: relative;
  font-size: var(--h2-20-size);
  font-family: var(--font-graphik);
  color: var(--gray-1);
  text-align: left;
}
.account2 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account2,
.action-container,
.navbar2 {
  flex-direction: row;
  align-items: center;
}
.action-container {
  width: 456px;
  flex-shrink: 0;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  z-index: 0;
}
.navbar2 {
  align-self: stretch;
  background-color: var(--color-oldlace);
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: var(--padding-xl) var(--padding-141xl);
  justify-content: flex-start;
  gap: var(--gap-381xl);
}
.expecting-the-unexpected2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  color: var(--color-black);
}
.visionetcom2 {
  color: var(--blue-1);
}
.january-22-2015-container2 {
  color: var(--gray-3);
}
.expect-the-unexpected2,
.january-22-2015-container2 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.frame-child7 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 8px;
  height: 180px;
  flex-shrink: 0;
}
.rectangle-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.the-consumer-electronics2 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 856px;
  flex-shrink: 0;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--h2-20-size);
}
.e-ink5 {
  text-decoration: underline;
}
.e-ink4 {
  color: inherit;
}
.joan-that-features2 {
  color: var(--gray-1);
}
.but-the-interactive-conference2 {
  margin: 0;
}
.article-2-inner {
  position: relative;
  background-color: var(--color-oldlace);
  width: 318px;
  height: 182px;
  flex-shrink: 0;
}
.article-22 {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0 var(--padding-141xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.format-text2,
.style2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.style2 {
  letter-spacing: -0.01em;
  font-weight: 600;
}
.format-text2 {
  font-size: var(--body-16-size);
  color: var(--gray-3);
}
.share8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iconclose3 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.share7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h1-24-size);
}
.frame-child8 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  cursor: pointer;
}
.frame-child10,
.frame-child11,
.frame-child8,
.frame-child9 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 95px;
  height: 44px;
  flex-shrink: 0;
}
.frame-child9 {
  background-color: var(--color-oldlace);
  border: 1px solid var(--purple-100);
  box-sizing: border-box;
}
.frame-child10,
.frame-child11 {
  background-color: var(--color-darkslategray-100);
  cursor: pointer;
}
.frame-child11 {
  background-color: var(--color-gray-200);
  width: 91px;
}
.rectangle-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.georgia2 {
  flex: 1;
  position: relative;
}
.font-012,
.font-22,
.font-32 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 412px;
  height: 48px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
}
.font-012 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.font-22,
.font-32 {
  margin-top: -1px;
}
.font-22 {
  background-color: var(--color-dodgerblue-100);
  display: flex;
  justify-content: center;
  font-size: var(--h2-20-size);
  font-family: var(--font-calibri);
}
.font-32 {
  cursor: pointer;
  font-family: var(--font-tahoma);
}
.font-32,
.font-44,
.font-list2 {
  display: flex;
  justify-content: center;
}
.font-44 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 412px;
  height: 48px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  cursor: pointer;
  margin-top: -1px;
  font-family: var(--font-verdana);
}
.font-list2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-black);
  font-family: var(--font-georgia);
}
.t4 {
  position: relative;
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
}
.font-45,
.font-52 {
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 201px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.font-52 {
  width: 212px;
  margin-left: -1px;
  font-size: var(--h1-24-size);
}
.font-format2,
.share-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.font-format2 {
  width: 412px;
  flex-direction: row;
  color: var(--gray-2);
  font-family: var(--font-graphik);
}
.share-container {
  gap: var(--gap-13xl);
}
.share-container,
.share-inner1,
.share6 {
  align-self: stretch;
  flex-direction: column;
}
.share-inner1 {
  display: flex;
  padding: 0 var(--padding-5xl);
  align-items: flex-end;
  justify-content: flex-start;
}
.share6 {
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.15);
  width: 500px;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--padding-29xl) var(--padding-5xl) 0 var(--padding-base);
  box-sizing: border-box;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--h3-18-size);
  font-family: var(--body-16);
}
.share6.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.article-01-pink2,
.article-2-container,
.share6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-2-container {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-oldlace);
  flex-direction: row;
}
.article-01-pink2 {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1080px;
  flex-direction: column;
  text-align: left;
  font-size: var(--h1-24-size);
  color: var(--gray-1);
  font-family: var(--font-calibri);
}
@media screen and (max-width: 1200px) {
  .article-01-pink2 {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .article-01-pink2 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .article-01-pink2 {
    display: none;
  }
}
