.logo-2-child1 {
  position: relative;
  width: 25.21px;
  height: 25.2px;
  flex-shrink: 0;
}
.save10,
.stash10 {
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.stash10 {
  font-weight: 600;
  color: var(--purple-100);
}
.savestash10 {
  position: relative;
  font-size: var(--h1-24-size);
  letter-spacing: -0.01em;
  line-height: 150%;
  text-align: left;
  display: inline-block;
  width: 143px;
  flex-shrink: 0;
}
.logo-23 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  cursor: pointer;
  z-index: 2;
}
.iconshare9 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.edit9 {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-26xl);
  z-index: 1;
}
.vector-icon9 {
  position: absolute;
  height: 84.64%;
  width: 84.64%;
  top: 8.33%;
  right: 7.03%;
  bottom: 7.03%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.action9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider9 {
  position: relative;
  border-right: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  flex-shrink: 0;
}
.studentmailulie9 {
  position: relative;
  font-size: var(--h2-20-size);
  font-family: var(--font-graphik);
  color: var(--gray-1);
  text-align: left;
}
.account9 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account9,
.action-parent7,
.navbar9 {
  flex-direction: row;
  align-items: center;
}
.action-parent7 {
  width: 456px;
  flex-shrink: 0;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  z-index: 0;
}
.navbar9 {
  align-self: stretch;
  background-color: var(--color-oldlace);
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: var(--padding-xl) var(--padding-141xl);
  justify-content: flex-start;
  gap: var(--gap-381xl);
}
.expecting-the-unexpected9 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  color: var(--color-black);
}
.visionetcom9 {
  color: var(--blue-1);
}
.january-22-2015-container9 {
  color: var(--gray-3);
}
.expect-the-unexpected9,
.january-22-2015-container9 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.frame-child44 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 8px;
  height: 180px;
  flex-shrink: 0;
}
.rectangle-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.the-consumer-electronics9 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 856px;
  flex-shrink: 0;
}
.frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--h2-20-size);
}
.e-ink19 {
  text-decoration: underline;
}
.e-ink18 {
  color: inherit;
}
.joan-that-features9 {
  color: var(--gray-1);
}
.article-3-child {
  position: relative;
  background-color: var(--color-oldlace);
  width: 318px;
  height: 182px;
  flex-shrink: 0;
}
.article-3 {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0 var(--padding-141xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.notes {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
}
.title1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconclose10 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.search10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.search-by-keyword {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.search-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.line-div {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--gray-5);
  box-sizing: border-box;
  height: 1px;
  flex-shrink: 0;
}
.frame-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--body-16-size);
  color: var(--gray-3);
}
.div,
.frame-parent9,
.notes-01 {
  align-self: stretch;
}
.notes-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--h1-24-size);
  color: var(--gray-1);
}
.div {
  position: relative;
  line-height: 150%;
}
.signagetechnology {
  color: var(--purple-100);
}
.digital-signage-information-container,
.weeks-ago {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.digital-signage-information-container {
  font-size: var(--h2-20-size);
  letter-spacing: -0.01em;
  color: var(--gray-2);
}
.weeks-ago {
  font-size: var(--body-14-size);
}
.notes-section-02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.check-it-out {
  margin: 0;
}
.designprobes {
  margin: 0;
  color: var(--purple-100);
}
.note-sidebar {
  align-self: stretch;
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  width: 500px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--h3-18-size);
  color: var(--gray-3);
  font-family: var(--body-16);
}
.article-01-pink3,
.article-3-parent,
.note-sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-3-parent {
  align-self: stretch;
  background-color: var(--color-oldlace);
  height: 1016px;
  flex-shrink: 0;
  flex-direction: row;
}
.article-01-pink3 {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1080px;
  flex-direction: column;
  text-align: left;
  font-size: var(--h1-24-size);
  color: var(--gray-1);
  font-family: var(--font-georgia);
}
@media screen and (max-width: 1200px) {
  .article-01-pink3 {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .article-01-pink3 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .article-01-pink3 {
    display: none;
  }
}
