@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo-2-child2 {
  position: relative;
  width: 25.21px;
  height: 25.2px;
  flex-shrink: 0;
}
.save11,
.stash11 {
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.stash11 {
  font-weight: 600;
  color: var(--purple-100);
}
.savestash11 {
  position: relative;
  font-size: var(--h1-24-size);
  letter-spacing: -0.01em;
  line-height: 150%;
  text-align: left;
  display: inline-block;
  width: 143px;
  flex-shrink: 0;
}
.logo-24 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  cursor: pointer;
  z-index: 2;
}
.iconshare10 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.edit10 {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-26xl);
  z-index: 1;
}
.vector-icon11 {
  position: absolute;
  height: 84.64%;
  width: 84.64%;
  top: 8.33%;
  right: 7.03%;
  bottom: 7.03%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.action10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divider10 {
  position: relative;
  border-right: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
  flex-shrink: 0;
}
.studentmailulie10 {
  position: relative;
  font-size: var(--h2-20-size);
  font-family: var(--font-graphik);
  color: var(--gray-1);
  text-align: left;
}
.account10 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account10,
.action-parent8,
.navbar10 {
  flex-direction: row;
  align-items: center;
}
.action-parent8 {
  width: 456px;
  flex-shrink: 0;
  display: none;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  z-index: 0;
}
.navbar10 {
  align-self: stretch;
  background-color: var(--color-oldlace);
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: var(--padding-xl) var(--padding-141xl);
  justify-content: flex-start;
  gap: var(--gap-381xl);
}
.expecting-the-unexpected10 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  color: var(--color-black);
}
.visionetcom10 {
  color: var(--blue-1);
}
.january-22-2015-container10 {
  color: var(--gray-3);
}
.expect-the-unexpected10,
.january-22-2015-container10 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.frame-child45 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 8px;
  height: 180px;
  flex-shrink: 0;
}
.rectangle-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.the-consumer-electronics10 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 856px;
  flex-shrink: 0;
}
.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--h2-20-size);
}
.e-ink21 {
  text-decoration: underline;
}
.e-ink20 {
  color: inherit;
}
.joan-that-features10 {
  color: var(--gray-1);
}
.but-the-interactive-conference10 {
  margin: 0;
}
.article-3-item {
  position: relative;
  background-color: var(--color-oldlace);
  width: 318px;
  height: 182px;
  flex-shrink: 0;
}
.article-31 {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0 var(--padding-141xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.expect-the-unexpected11 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--gray-3);
}
.share29 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iconclose11 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.frame-input,
.share-parent7,
.share28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-input,
.share-parent7 {
  flex-direction: column;
  align-items: flex-start;
}
.frame-input {
  border: 0;
  font-family: var(--body-16);
  font-size: var(--h3-18-size);
  background-color: transparent;
}
.share-parent7 {
  gap: var(--gap-13xl);
}
.continue2 {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.buttonprimarylargedefault1,
.frame-parent11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.buttonprimarylargedefault1 {
  cursor: pointer;
  border: 1px solid var(--purple-100);
  padding: var(--padding-5xs) var(--padding-5xl);
  background-color: var(--purple-100);
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.frame-parent11 {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
  align-items: flex-end;
  gap: var(--gap-101xl);
}
.share-item {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--gray-5);
  box-sizing: border-box;
  height: 1px;
  flex-shrink: 0;
}
.copy-link,
.people-with-the {
  position: relative;
  line-height: 150%;
}
.copy-link {
  align-self: stretch;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.people-with-the {
  font-size: var(--body-16-size);
  color: var(--gray-3);
  display: inline-block;
  width: 220px;
}
.copy-link-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.continue3 {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--purple-100);
  text-align: center;
}
.buttonsecondarylargedefault1 {
  cursor: pointer;
  border: 1px solid var(--purple-100);
  padding: var(--padding-5xs) var(--padding-5xl);
  background-color: var(--m3-sys-light-on-primary);
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 87px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-46xl);
}
.share27 {
  align-self: stretch;
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.15);
  width: 500px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-5xl) 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  font-family: var(--body-16);
}
.share27.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.article-01-pink4,
.article-3-group,
.share27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-3-group {
  align-self: stretch;
  background-color: var(--color-oldlace);
  height: 1016px;
  flex-shrink: 0;
  flex-direction: row;
}
.article-01-pink4 {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1080px;
  flex-direction: column;
  text-align: left;
  font-size: var(--h1-24-size);
  color: var(--gray-1);
  font-family: var(--font-georgia);
}
@media screen and (max-width: 1200px) {
  .article-01-pink4 {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .article-01-pink4 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .article-01-pink4 {
    display: none;
  }
}
